body {
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 50px;
}

.errorMsg {
    color: red;
    font: bold;
}

.btn {
    border: 1px solid black;
    border-radius: 2px;

    background-color: black;
    color: white;
    font-weight: bold;
    font-size: small;

    padding: 5px;
    transition: 0.1s ease-in;
}

.btn:hover {
    background-color: gray;
    border: 1px solid gray;
}